.add__newCard--btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    width: 382px;
    height: 72px;
    border-radius: 8px;
    background-color: white;
    color: black;
    margin-top: 110%;
}